@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&family=Pacifico&display=swap');

:root {
    --font1: 'Bangers', cursive;
    --font2: 'Pacifico', cursive;
    --font3: 'Lobster', cursive;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--font1);
}

h2 {
    font-family: var(--font2);
}

h3 {
    font-family: var(--font3);
    text-align: center;
    
}

h4, h5 {
    font-family: cursive;
    font-size: large;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
    margin-top: 15px;
}

hr {
    margin-top: 5px;
}

.categorias {
    padding: 20px 10px;
    width: 50vw;
    margin: auto;
}

#estudo {
    background-color: rgba(255, 0, 0, 0.287);
}

#conhecimento {
    background-color: rgba(0, 255, 191, 0.287);
}

#trabalho {
    background-color: rgba(0, 98, 255, 0.287);
}

footer {
    text-align: center;
    background-color: darkred;
    color: white;
}